section.finances-section
  .wrapper
    .finances-section__container
      img.finances-section__bottom-img-2(src="images/finances-section-bottom-img-2.png" loading="lazy" width="217" height="236" alt="img")
      img.finances-section__img(src="images/finances-section-img.jpg" loading="lazy" width="1180" height="540" alt="image")
      .finances-section__cards-wrapper-bg-1
      .finances-section__cards-wrapper-bg-2
      h2.finances-section__title.font-s-50.font-w-bold.text-center
        | Франшиза 5GMASTERS в цифрах
      .finances-section__sub-title.font-s-20.font-w-bold.text-center.text-up
        | Сотрудничая с нами вы можете рассчитывать на:
      .finances-section__cards-wrapper
        .swiper-finances
          .finances-section__cards.swiper-wrapper
            .finances-section__card.swiper-slide
              img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .finances-section__card-text
                .font-w-bold.font-s-26.color-black от 139 000 ₽
                .font-s-20 средняя чистая <br> ежемесячная прибыль
            .finances-section__card.swiper-slide
              img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .finances-section__card-text
                .font-w-bold.font-s-26.color-black от 1,75 млн ₽
                .font-s-20 первоначальные <br> инвестиции
            .finances-section__card.swiper-slide
              img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .finances-section__card-text
                .font-w-bold.font-s-26.color-black от 1,67 млн ₽
                .font-s-20 средняя чистая <br> годовая прибыль
            .finances-section__card.swiper-slide
              img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .finances-section__card-text
                .font-w-bold.font-s-26.color-black от 29,8%
                .font-s-20 рентабельность <br> по чистой прибыли
            .finances-section__card.swiper-slide
              img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .finances-section__card-text
                .font-w-bold.font-s-26.color-black 1,5 месяца
                .font-s-20 чтобы начать <br> зарабатывать
            .finances-section__card.swiper-slide
              img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .finances-section__card-text
                .font-w-bold.font-s-26.color-black от 15 месяцев
                .font-s-20 срок окупаемости <br>вашего бизнеса
          .finances-pagination.swiper-progress-finances
      .finances-section__bottom
        img.finances-section__bottom-img(src="images/finances-section-bottom-img.jpg" loading="lazy" width="800" height="668" alt="img")
        .finances-section__bottom-title.font-w-bold.font-s-30.text-up
          | Ознакомьтесь детально 
          br.no-br
          | с финансовыми расчетами 
          br.no-br
          | вашего будущего бизнеса
        .finances-section__bottom-block
          button.btn.finances-item(data-remodal-target="modal-form-plan") СКАЧАТЬ ФИНМОДЕЛЬ
          .font-s-20 Скачайте финансовую <br> модель 5GMASTERS
