section.start-section
  .wrapper
    .start-section__container
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="682" height="736" alt="image")
      img.start-section__icon(src="images/start-section-icon.png" loading="lazy" width="512" height="512" alt="image")
      img.start-section__bottom-img(src="images/start-section-bottom-img.png" loading="lazy" width="832" height="576" alt="image")
      h2.start-section__title.font-w-bold.font-s-50.text-center
        | Начните собственный прибыльный 
        br.no-br
        | бизнес вместе с нами

      .start-section__sub-title.font-s-20.text-center.text-up
        | Команда 
        span.font-w-bold 5GMASTERS 
        | поддержит вас на всех этапах
      .swiper-start
        .start-section__cards.swiper-wrapper
          .start-section__card.start-card-color-black.swiper-slide
            .start-section__card-item
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="32" height="32" alt="icon")
              .start-section__card-text
                .font-w-bold.font-s-22.text-up Обеспечим
                .font-s-18 пошаговое становление <br> бизнеса до стабильных <br> результатов
            .start-section__card-item
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="32" height="32" alt="icon")
              .start-section__card-text
                .font-w-bold.font-s-22.text-up Обучим
                .font-s-18 очно на точке <br> франчайзи
            .start-section__card-item
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="32" height="32" alt="icon")
              .start-section__card-text
                .font-w-bold.font-s-22.text-up Предоставим
                .font-s-18  онлайн - обучение
          .start-section__card.start-card-color-grey.swiper-slide
            .start-section__card-item
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="32" height="32" alt="icon")
              .start-section__card-text
                .font-w-bold.font-s-22.text-up Проведем
                .font-s-18 запуск бизнеса <br> дистанционно
            .start-section__card-item
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="32" height="32" alt="icon")
              .start-section__card-text
                .font-w-bold.font-s-22.text-up Направим
                .font-s-18 команду специалистов <br> для запуска <br> (по договоренности)
            .start-section__card-item
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="32" height="32" alt="icon")
              .start-section__card-text
                .font-w-bold.font-s-22.text-up Поможем
                .font-s-18  с формированием товара <br> и продажами
          .start-section__card.start-card-color-black.swiper-slide
            .start-section__card-item
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="32" height="32" alt="icon")
              .start-section__card-text
                .font-w-bold.font-s-22.text-up Обучим
                .font-s-18 специфике продаж
            .start-section__card-item
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="32" height="32" alt="icon")
              .start-section__card-text
                .font-w-bold.font-s-22.text-up Добавим
                .font-s-18 на официальный сайт
            .start-section__card-item
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="32" height="32" alt="icon")
              .start-section__card-text
                .font-w-bold.font-s-22.text-up Дадим
                .font-s-18  любые консультации, <br> касающиеся ведения <br> бизнеса
        .start-pagination.swiper-progress-start
      .start-section__bottom
        .start-section__bottom-left
          .font-w-bold.font-s-32
            | Получите 
            br.no-br
            | подробный план
          .start-section__bottom-text.font-s-18 по открытию 5GMASTERS
          img.start-section__bottom-icon(src="images/start-section-bottom-icon.png" loading="lazy" width="338" height="116" alt="icon")
        form.start-section__form(data-feedback-form)
            input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
            input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
            button.btn(type="submit") ПОЛУЧИТЬ ПЛАН
